.searchResults {
    z-index: 2;
}
.searchSuggetions {
    cursor: pointer;
    box-shadow: 1px 1px 10px black;
    width: 30%;
    text-align: center;
    position: absolute;
    background-color: #fff;
    top: 130px;
}

.searchProducts {
    height: 50vh;
    cursor: pointer;
    overflow-y: scroll;
    position: absolute;
    top: 130px;
    width: 30%;
    background-color: #fff;
    box-shadow: 1px 1px 10px black;
}
.productRes{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.productRes img{
    width: 50px;
}