*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.checkout_btn{
    border: none;
    border-radius: 0%;
    background-color: rgb(40, 37, 37);
    color: aliceblue;
    padding: 15px 30px;
    
}